@jfrog:registry=http://localhost:8081/artifactory/api/npm/npm-local/
//localhost:8081/artifactory/api/npm/npm-local/:_password=
//localhost:8081/artifactory/api/npm/npm-local/:username=admin
//localhost:8081/artifactory/api/npm/npm-local/:email=admin@example.com
//localhost:8081/artifactory/api/npm/npm-local/:always-auth=true
registry=https://registry.npmjs.org/
email = alice@example.com
_auth = 
@test-scope:registry=http://example.com:8081/example.com/content/repositories/npm-test/
//example.com:8081/nexus/content/repositories/npm-test/:username=admin
//example.com:8081/nexus/content/repositories/npm-test/:_password=
@test-scope:registry=http://example.org:9999/example.com/content/repositories/npm-test2/
//example.org:9999/example.com/content/repositories/npm-test2/:username=admin
//example.org:9999/example.com/content/repositories/npm-test2/:_authToken=

